* {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}

#welcome {
  margin-top: 15vh;
}

#description1 {
  margin-top: 5vh;
}

#GroupWrapper {
  margin-top: 5vh;
}

#game {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  display: none;
  background-color: white;
}

.btn-large {
  margin-top: 5vh;
}

.card {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}

#photoContainer {
  width: 80%;
  height: 80%;
  position: absolute;
  margin-left: 10%;
  margin-top: 5%;
}

#downloadButton {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
}

#configButton {
  position: fixed;
  bottom: 2vh;
  left: 1vw;
  display: none;
}

#hiddenImage {
  display: none;
}

img {
  width: 100%;
  height: 100%;
}

.user {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  border-left: 2.5em solid transparent;
  border-right: 2.5em solid transparent;
  border-bottom: 5em solid #18a0fb;
}

.localUser {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 5em;
  border-width: 1em;
  border-style: solid;
  border-radius: 50%;
  border-color: #18a0fb;
  background-color: #18a0fb;
}

.userName {
  text-align: center;
}

.user > .userName {
  text-align: center;
  display: table;
  position: absolute;
  width: 10em;
  top: -2em;
}

.userVideo {
  max-width: 100%;
}

.localUser > .userVideo {
  transform: scaleX(-1);
}

select {
  display: inline-block;
}
